body{
    font: 18px/1.5 sans-serif;

    color: rgb(0, 0, 0);
}
table,
td{
    border: 1px solid rgb(0, 0, 0);
}
td {
    padding: 10px 20px 30px 40px ;
}
#target{
    text-align: right;
}